/* CONTENEDORES PRINCIPALES - CORREGIDO */
.stMainBlockContainer.block-container > div > div:not(:nth-child(1)):not(:nth-child(2))>div {
    background-color: #FAFAFA !important;
    border-radius: 12px !important;
    padding: 20px !important;
    margin-bottom: 20px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}